* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
.page_container {
    position: relative;
    min-height: 100vh;
}

main {
    height: 100%;
    width: 100%;
    padding-bottom: 2.5rem;    /* Footer height */
}

.top_div {
    height: 10em;
}

.nav {
    display: flex;
    height: 10em;
   /* position: sticky;
    top: 20px;*/
    bottom: 20px;
    margin: 30px;
}

a {
    text-decoration: none;
}

.nav_list {
    margin: 2%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    align-items: center;
    
}

.nav_list li {
    font-size: xx-large;
}

#portrait {
    height: 30%;
    width: 30%;
}

.header_wrapper {
    background-color:blueviolet;
    /*transform: skewX(45deg); 
    transform: skewX(2deg);*/
    color: aliceblue;
    width: 100%;
}

.header_content {
    display: flex;
    flex-direction: row;
}


#bio {
    padding: 3%;
    font-size: large;
}

.sectionLink {
    background-color: white;
    border-radius: 5px;
}

img:hover {
    scale: 1.1;
}

a:hover {
    color: black;
    opacity: 1;
   
}

#section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

#side_menu {
    position: fixed;
    top: 5%;
    left: 90%;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 300px;
}

.nav_list_side {
    gap: 10%;
    margin: 2%;
    align-items: space-evenly;
    list-style: none;
    text-decoration: none;
    align-items: center;
    font-size: xx-large;
} 

.grid_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 10%;
}

.img_grid img {
    width: 100px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
