* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
.page_container {
    position: relative;
    min-height: 100vh;
}

main {
    height: 100%;
    width: 100%;
    padding-bottom: 20rem;
}

.top_div {
    height: 3em;
}

.mobile_nav {
    visibility: hidden;
}

.mobile_header_wrapper {
    display: none;
    height: 0%;
}

a {
    text-decoration: none;
}


#portrait {
    height: 30%;
    width: 30%;
}

.header_wrapper {
    background-color:blueviolet;
    transform: skewX(3deg);
    color: aliceblue;
    width: 100%;
}

.header_wrapper img {
        position: relative;
        transform: skewX(2deg);
}

.header_content {
    display: flex;
    flex-direction: row;
}

.header_title {
    margin: 2% 2%;
}

#bio {
    padding: 7% 3% 0% 3%;
    font-size: 1.5rem;
    line-height: 2;
}

.client_list {
    font-size: 1.5rem;
    margin: 2%;
    line-height: 1.5;
}

.client_list li {
     list-style-type: none;
}

.client_list a {
        color: white;
}


a:hover {
    color: black;
    opacity: 1;
   
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    column-gap: 15rem;
    margin: 5rem 0 3rem 0;
    transform: skewY(-0.09rad);

}

.grid_container img {
    width: 100%;
    opacity: 1;
    border: solid 1px rgba(0,0,0, .5);
    border-radius: 5px;
    box-shadow: 2px;
}

.mobile_img_content {
    display: none;
}

.img_content {
    position: relative;
    bottom: 80%;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: xx-large;
    color: black;
    opacity: 0;
    transition: 1.5s;
    transform: translateY(20%);
    transition: transform 1s;
}

.bit_lower_img_content {
    bottom: 70%;
}

.img_content:hover {
    transform: translateY(0px);
    opacity: .7;
}


h2 {
    background-color:white;
    color: black;
    padding: 3% 15% 3% 15% ;
}

.img_content > p {
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    padding: 2%;
}

#work {
    display: flex;
    align-items: center;
    justify-content: center;
}


#side_menu {
    background-color: white;
    position: fixed;
    top: 3.5%;
    left: 85%;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: fit-content;
    padding: .5%;
    width: 10%;
    border-radius: 5px;
}

.nav_list_side {
    gap: 10%;
    margin: 2%;
    align-items: space-evenly;
    list-style: none;
    text-decoration: none;
    align-items: center;
    font-size: xx-large;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20rem;
}

.footer_content {
    font-size: 2rem;
    display: flex;
    height: 20rem;
    background-color: blueviolet;
    color: white;
    width: 100vw;
}

.footer_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.icons {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}

.footer_content img {
    display: flex;
    position: relative;
    width: 30%;
    margin-left:30%;
    bottom: 10%;
}

#footer_pic {
    transition: 1000ms;
}

.initial {
    transform: rotate(-7deg);
}

.move {
    transform: rotate(360deg);
}

@media screen and (max-width: 600px) {
      
    main {
        padding-bottom: 10rem;
        width: 100vw;
    }

    footer {
        height: 10rem;
    }

    .top_div {
        height: 2%;    
    }

    aside {
        display: none;
    }

    .header_wrapper {
        display: none;
    
     }

    .mobile_header_wrapper {
        display: block;
          background-color:blueviolet;
        /*transform: skewX(45deg);*/ 
        width: 100vw;
    }

    .mobile_header_wrapper img {
        position: relative;
        transform: skewX(3deg);
    }

    .mobile_header_content {
        display: flex;
        flex-direction: row;
    }

    .mobile_header {
        margin-top: 2%;
    }

    #mobile_bio {
        padding: 3% 3% 0% 3%;
        font-size: 2rem;
        line-height: 1;
        color: white;
    }

    .mobile_nav {
        visibility: visible;
        position: sticky;
        display: flex;
        height: 10vh;
        width: 100vw;
        top: 0.2rem;
        flex-direction: row;
        background-color: white;
         z-index: 1000;
        transform:translateZ(1000px);
    }
    .nav_list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }
    
    .grid_container{
        display: block;
        width: 90vw;
    }

    .img_content {
        display: none;
    }

    .mobile_img_content {
    display: block;
}

.footer_right {
    display: none;
}

.footer_left {
    padding: 1%;
}

.icons {
font-size: 2rem;
margin-bottom: 2%;
}
}
